body{
    font-family: 'Roboto', sans-serif;
}
.full-bg{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.menu-inner{
    transition: 0.3s;
    width: 800px;
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 5px;
    margin: 10px;
}
.menu{
    position: fixed;
    width: 100%;
    background: none;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.menu-scrolled{
    height: 50px;
    width: 700px;
}

.top-button{
    font-size: 24pt;
    font-weight: 300;
    border-radius: 40px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFB635;
    border: 1px solid #FFB635;
}

.menu-scroll-bg{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 10px -2px gray;
}
.background-video {
    border-radius: 58% 42% 0% 100% / 68% 0% 100% 32%;
    opacity: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;   
}
video {
    object-fit: cover;
}

.menu-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 300;
}

.menu-link:hover{
    color: #4d4d4d;
}
.menu-link:hover::after{
    position: relative;
    bottom: 3px;
    width: 100%;
    background-color: #4d4d4d;
    content: "";
    height: 2px;
    display: inline-block;
    -webkit-animation-name: run;
    -webkit-animation-duration: 0.5s;
}

.main-left-side{
    height: 100vh;
    display: block;
    padding-top: 10%;
    padding-bottom: 10%;
}

h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight: 300;
}
b{
    font-weight: 900;
}
h3{
    font-weight: lighter;
    font-family: 'Roboto Mono', monospace;
}
h5{
    text-align: center;
    font-size: 46px;
    font-weight: 900;
    font-family: 'Roboto Mono', monospace;
}
.text-justify{
    text-align: justify;
}
.bg-darker{
    background:black
}
.shadow{
    box-shadow: 0 10px 10px -2px rgb(0, 0, 0);
}
.text-end-effect::after{
    content: 'karbantartása';
    -webkit-animation-name: textWrite;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
}
.default-button{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    box-sizing: border-box;
}

.default-button:hover{
    background-color: rgb(223, 223, 223);
    transition: all 0.3s;
    box-sizing: border-box;
}

.zoom{
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.zoom:hover{
    transform: scale(1.3);
}

.zoom-outside{
    overflow: hidden;
}

.custom-card{
    box-shadow: 0 2px 10px -2px gray;
    transition: all 0.3s;
}

.custom-card:hover{
    box-shadow: 0 4px 20px -2px gray;
}

.triangle {
    position: absolute;
    background: rgb(221, 221, 221);
    opacity: 0.3;
}
.triangle.triangle-1 {
    clip-path: polygon(89% 85%, 54% 8%, 0 80%);
    top: 120px;
    left: 20px;
    width: 300px;
    height: 300px;
    z-index: -1;
}
.triangle.triangle-2 {
    clip-path: polygon(78% 16%, 9% 55%, 82% 91%);
    top: 380px;
    left: 120px;
    width: 280px;
    height: 280px;
    z-index: -1;
}
.triangle.triangle-3 {
    clip-path: polygon(78% 16%, 9% 55%, 82% 91%);
    top: 180px;
    left: 270px;
    width: 250px;
    height: 250px;
    z-index: -1;
}
.triangle.triangle-4 {
    clip-path: polygon(100% 33%, 40% 99%, 12% 10%);
    top: 410px;
    left: 340px;
    width: 310px;
    height: 310px;
    z-index: -1;
}
.triangle.triangle-5 {
    clip-path: polygon(99% 71%, 6% 79%, 57% 0);
    top: 200px;
    left: 460px;
    width: 310px;
    height: 310px;
    z-index: -1;
}

@media screen and (max-width: 713px) {
    .triangle.triangle-1 {
        clip-path: polygon(89% 85%, 54% 8%, 0 80%);
        top: 120px;
        left: 20px;
        width: 170px;
        height: 170px;
        z-index: -1;
    }
    .triangle.triangle-2 {
        clip-path: polygon(78% 16%, 9% 55%, 82% 91%);
        top: 380px;
        left: 20px;
        width: 110px;
        height: 110px;
        z-index: -1;
    }
    .triangle.triangle-3 {
        clip-path: polygon(78% 16%, 9% 55%, 82% 91%);
        top: 180px;
        left: 170px;
        width: 90px;
        height: 90px;
        z-index: -1;
    }
    .triangle.triangle-4 {
        clip-path: polygon(100% 33%, 40% 99%, 12% 10%);
        top: 410px;
        left: 210px;
        width: 140px;
        height: 140px;
        z-index: -1;
    }
    .triangle.triangle-5 {
        clip-path: polygon(99% 71%, 6% 79%, 57% 0);
        top: 220px;
        left: 220px;
        width: 140px;
        height: 140px;
        z-index: -1;
    }
    h5{
        font-size: 30px;
    }
    .default-button{
        font-size: 15px;
    }
    .menu-mobil{
        height: 50px;
        box-shadow: 0 2px 10px -2px gray;
    }
  }
  .main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #BDD0FB;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    left: 0px
}

.main-timeline .icon:after {
    border: 2px solid #BDD0FB;
    left: 0px
}

.main-timeline .timeline:hover .icon:before {
    left: 0px
}

.main-timeline .timeline:hover .icon:after {
    left: 0px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #BDD0FB;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    left: 0px
}

.main-timeline .date-outer:after {
    border: 2px solid #7D97F4;
    left: 0px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 0px
}

.main-timeline .timeline:hover .date-outer:after {
    left: 0px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0;
        top: 0px;
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }

    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}

/* HERO CUCCOK */
.hero-right-side{
    width: 60%;
}

.hero-left-side{
    width: 40%;
}
.menu-mobil{
    display: none;
}

.menu-inner{
    display: flex;
}

@media only screen and (max-width: 1600px) {
    .hero-right-side{
        width: 50%;
    }
    
    .hero-left-side{
        width: 50%;
    }
    .main-left-side{
        padding-top: 11%;
    }
    
}
@media only screen and (max-width: 1439px) {
    .hero-right-side{
        width: 40%;
    }
    
    .hero-left-side{
        width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    .menu-mobil{
        display: flex;
    }
    .menu-inner{
        display: none;
    }
    h1{
        text-align: center;
        font-size: 3rem;
    }
    .hero-right-side{
        position: absolute;
        width: 100%;
        z-index: -1;
        top: 60px;
        opacity: 0.2;
    }
    
    .hero-left-side{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .hero-right-side{
        top: 200px;
    }
    .top-button{
        font-size: 20pt;
    }
}

@-webkit-keyframes run {
    0% {
      width: 0;
    }
    100% {
      width: 100%;    
    }
}

@-webkit-keyframes textWrite {
    0% {
      content:"k";
    }
    1% {
        content:"ké";    
    }
    2% {
        content:"kés";
    }
    3% {
        content:"kész";
    }
    4% {
        content:"készí";
    }
    5% {
        content:"készít";
    }
    6% {
        content:"készíté";
    }
    7% {
        content:"készítés";
    }
    8% {
        content:"készítése";
    }
    34% {
        content:"készítése";
    }
    35% {
        content:"f";
    }
    36% {
        content:"fe";
    }
    37% {
        content:"fej";
    }
    38% {
        content:"feje";
    }
    39% {
        content:"fejes";
    }
    40% {
        content:"fejesz";
    }
    41% {
        content:"fejeszt";
    }
    42% {
        content:"fejeszté";
    }
    43% {
        content:"fejesztés";
    }
    44% {
        content:"fejesztése";
    }
    64% {
        content:"fejesztése";
    }
    65% {
        content:"k";
    }
    66% {
        content:"ka";
    }
    67% {
        content:"kar";
    }
    68% {
        content:"karb";
    }
    69% {
        content:"karba";
    }
    70% {
        content:"karban";
    }
    71% {
        content:"karbant";
    }
    72% {
        content:"karbanta";
    }
    73% {
        content:"karbantar";
    }
    74% {
        content:"karbantart";
    }
    75% {
        content:"karbantartá";
    }
    76% {
        content:"karbantartás";
    }
    77% {
        content:"karbantartása";
    }
}